<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}"/>
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <title>{{site.title}}-{{site.name}}</title>
    {{include './common/meta.html'}}
<style>
    #captcha {
        height: 202px;
        margin: 0px !important;
    }
</style>

<body class="bg-f8f8f8 pos-r">
    <!-- 头部 -->
    {{include './common/header.html'}}

    <!-- 头条文章 -->
    <main class="bg-f2f2f2 pt-10 pb-20 row">
        <div class="main center mt-10 row gap-20">
            <aside class="flex-1">
                <!-- tag标签 -->
                <section class="notices pos-s pd-20 mb-20 bg-fff" style="top:80px;z-index: 2;">
                    <h3 class="m-title border-dashed f-16 row justify-between">「ABOUT」关于我们</h3>
                    <ul class="mt-10">
                        <li class="f-16 pt-4 pb-4 row bold  pl-10"><a href="" title="">关于作者</a></li>
                        <li class="f-16 pt-4 pb-4 row bold pl-10"><a href="" title="">最新动态</a></li>
                    </ul>
                </section>
            </aside>

            <!-- 最新文章 -->
            <article class="article-index">
                <div class="bg-fff radius-6 pd-25">
                    <header class="border-b pos-r mb-20">
                        <h2 class="f-26 c-252933  bold mt-10">「ONLINE」在线留言</h2>
                    </header>
                    <article class="article-cont f-17 lh-35" id="app">
                        <el-form ref="message" :model="message" label-width="84px">
                            <el-form-item label="留言标题" prop="title" :rules="[
                                {
                                  required: true,
                                  message: '请输入留言标题',
                                  trigger: 'blur',
                                },
                                {
                                  min: 2,
                                  max: 20,
                                  message: '长度在 2 到 20 个字符',
                                  trigger: 'blur',
                                },
                              ]">
                                <el-input v-model="message.title"></el-input>
                            </el-form-item>

                            <el-form-item label="联系微信" prop="wx" :rules="[
                            {
                              required: true,
                              message: '请输入微信',
                              trigger: 'blur',
                            },
                            {
                              min: 2,
                              max: 20,
                              message: '长度在 2 到 20 个字符',
                              trigger: 'blur',
                            },
                          ]">
                                <el-input v-model="message.wx"></el-input>
                            </el-form-item>

                            <el-form-item label="联系电话" prop="tel" :rules="[
                            { type: 'number', message: '手机号必须是数字' },
                          ]">
                                <el-input v-model.number="message.tel" type="number"></el-input>
                            </el-form-item>

                            <el-form-item label="问题描述" prop="description" :rules="[
                            {
                                required: true,
                                message: '不写问题，你玩呢？',
                                trigger: 'blur',
                              },
                                {
                                  min: 2,
                                  max: 255,
                                  message: '字数限制255',
                                  trigger: 'blur',
                                },
                              ]">
                                <el-input type="textarea" :rows="3" class="textarea"
                                    v-model="message.description"></el-input>
                            </el-form-item>


                            <el-form-item label="图片验证">
                                <div id="captcha" style="height:202px;margin:0!important"></div>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="submitSeo('message')">提交</el-button>
                            </el-form-item>
                        </el-form>
                    </article>
                </div>
            </article>
        </div>
    </main>

   <!-- footer -->
   {{include './common/footer.html'}}
   <!-- 移动端导航 -->
   {{include './common/wap-nav.html'}}
</body>

</html>